---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0)

for col in df.columns:
    if col[-2:]=='.1':
        df.rename(columns={col:'Gold'}, inplace=True)
    if col[-2:]=='.2':
        df.rename(columns={col:'Silver'}, inplace=True)
    if col[-2:]=='.3':
        df.rename(columns={col:'Bronze'}, inplace=True)
    if col[-2:]=='.4':
        df.rename(columns={col:'Total'}, inplace=True)
    if (col[-5:]=='Games' or col[:8]=='Combined'):
        df.rename(columns={col:'#'}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
print (len(df),df.head())
df.tail()

152                     #  Gold  Silver  Bronze  Total     #  Gold  Silver  \
Team (IOC code)
Afghanistan      14.0   0.0     0.0     2.0    2.0   0.0   0.0     0.0
Algeria          13.0   5.0     4.0     8.0   17.0   3.0   0.0     0.0
Argentina        24.0  21.0    25.0    28.0   74.0  19.0   0.0     0.0
Armenia           6.0   2.0     6.0     6.0   14.0   7.0   0.0     0.0
Australasia       2.0   3.0     4.0     5.0   12.0   0.0   0.0     0.0

                 Bronze  Total     #  Gold  Silver  Bronze  Total   ID
Team (IOC code)
Afghanistan         0.0    0.0  14.0   0.0     0.0     2.0    2.0  AFG
Algeria             0.0    0.0  16.0   5.0     4.0     8.0   17.0  ALG
Argentina           0.0    0.0  43.0  21.0    25.0    28.0   74.0  ARG
Armenia             0.0    0.0  13.0   2.0     6.0     6.0   14.0  ARM
Australasia         0.0    0.0   2.0   3.0     4.0     5.0   12.0  ANZ

,#,Gold,Silver,Bronze,Total,#,Gold,Silver,Bronze,Total,#,Gold,Silver,Bronze,Total,ID
Team (IOC code),,,,,,,,,,,,,,,,
Zambia,13.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,1.0,1.0,2.0,ZAM
Zimbabwe,13.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,14.0,3.0,4.0,1.0,8.0,ZIM
Independent Olympic Athletes,3.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,1.0,2.0,IOA
Independent Olympic Participants,1.0,0.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,3.0,IOP
Mixed team,3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0,ZZX

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

#          14
Gold        0
Silver      0
Bronze      2
Total       2
#           0
Gold        0
Silver      0
Bronze      0
Total       0
#          14
Gold        0
Silver      0
Bronze      2
Total       2
ID        AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [3]:
def answer_one(df):
    
    return df.iloc[:, 1].idxmax()

answer_one(df)

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [4]:
def answer_two(a):
    d = 0
    for i in range (0, len(df)-1):
        f = a.iloc[i][1] - a.iloc[i][6]
        if f > d:
            d = f
            y = i
            
    return a.index[y]

answer_two(df)

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [5]:
def answer_three(a):        
    d = 0
    for i in range (0, len(df)-1):
        if a.iloc[i][11] != 0:
            f = ((a.iloc[i][1] - a.iloc[i][6]) / a.iloc[i][11])
            if f > d:
                d = f
                y = i           
                
    return a.index[y]

answer_three(df)

'Algeria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [6]:
def answer_four(a):
    Points = pd.Series(index = a.index, dtype = "float64") 
    for i in range (0, len(a)-1):
        Points [i] = a.iloc[i][11]*3 + a.iloc[i][12]*2 + a.iloc[i][13]  
    Points.dropna(inplace=True)
    Points.index.name = None
    
    return Points

answer_four(df)

Afghanistan                           2.0
Algeria                              31.0
Argentina                           141.0
Armenia                              24.0
Australasia                          22.0
                                    ...
Yugoslavia                          184.0
Zambia                                3.0
Zimbabwe                             18.0
Independent Olympic Athletes          4.0
Independent Olympic Participants      4.0
Length: 150, dtype: float64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [7]:
census_df = pd.read_csv('census.csv', delimiter = ",", engine='python')
census_df.set_index(["STNAME"], inplace = True)
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,40,3,6,1,0,Alabama,4779736,4780127,4785161,4801108,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
Alabama,50,3,6,1,1,Autauga County,54571,54571,54660,55253,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
Alabama,50,3,6,1,3,Baldwin County,182265,182265,183193,186659,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
Alabama,50,3,6,1,5,Barbour County,27457,27457,27341,27226,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
Alabama,50,3,6,1,7,Bibb County,22915,22919,22861,22733,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [8]:
def answer_five(a):
    states = pd.Series(index = a.index.unique(), dtype = int)
    z = 0 
    for i in range (len(states)):
        while z < len(a):
            if states.index[i] == a.index[z]:
                states[i] += 1
                z+=1
            else:
                break
    return states.idxmax()

answer_five(census_df)

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [9]:
def answer_six(a):
    states = pd.Series(index = a.index.unique(), dtype = int)
    z = 0
    za = 0
    b = pd.DataFrame (index = a.index.unique())
    for i in range (len(states)):
        while z < len(a):
            if states.index[i] == a.index[z]:
                z+=1
            else:
                break 
        b = a[za:z]
        za = z
        states [i] = (b.nlargest (3, "CENSUS2010POP"))["CENSUS2010POP"].sum()     
    return states.nlargest (3, keep = "all")

answer_six(census_df)

STNAME
California    50167874
Texas         31606159
New York      24113524
dtype: int32

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [10]:
def answer_seven(a):
    p7 = a.reset_index(drop = True)
    p7.set_index("CTYNAME", inplace = True)
    p7 = p7[["SUMLEV","REGION","COUNTY", 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015']]
    counties = pd.Series(index = p7.index.unique(), dtype = int)
    for i in range(len(counties)):
        counties [i] = (p7.iloc[i]).max() -  (p7.iloc[i]).min()

    return counties.idxmax()

answer_seven(census_df)

'Lassen County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [11]:
def answer_eight(a):
    p8 = a.reset_index()
    p8 = p8[["SUMLEV","REGION","COUNTY", 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015', 'STNAME',"CTYNAME"]]
    p8.set_index("CTYNAME", inplace = True)
    Res = pd.DataFrame(columns = ['STNAME', 'CTYNAME'])
    j = 0
    for i in range(len(p8)):
        if (p8.iloc[i]["REGION"] == 1 or p8.iloc[i]["REGION"] == 2):
            if (p8.iloc[i]["POPESTIMATE2015"] > p8.iloc[i]["POPESTIMATE2014"]):
                if ((p8.iloc[i]).name[0:10] == "Washington"):
                    Res = Res.append({'STNAME' : p8.iloc[i]['STNAME'], 'CTYNAME' : p8.iloc[i].name},  ignore_index=True)
                    j += 1
    Res.dropna(inplace = True)                    
    return Res

answer_eight(census_df)

         STNAME            CTYNAME
0          Iowa  Washington County
1     Minnesota  Washington County
2  Pennsylvania  Washington County
3  Rhode Island  Washington County
4     Wisconsin  Washington County